/* .app {
    background: cornflowerblue;
    height: 300px;
    max-width: auto;
} */

.navbar {
    display: flex;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    flex-direction: row; 
    justify-content: space-evenly;
    padding: 10px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    align-items: center;
    transform: skewX(20deg);

    /* position: fixed; This is to make the bar fixed, but need to restylize with @media
    margin-top: -120px;
    width: 90%; */
} 

.home {
    flex: 1;
    font-size: 2em;
    background-color: #6A2CE8;
    color: white;
    text-decoration: none;
    transform: skewX(-20deg);    
}
    
footer {
    color: rgb(218, 190, 255);
    padding-top: 100px;
    font-size: 25px;
}

.search {
    flex: 1;
    font-size: 2em;
    background-color: #263AFF;
    color: white;
    text-decoration: none;
    transform: skewX(-20deg);
}

.instructions {
    padding-left: 15%;
    padding-right: 15%;
    color: rgb(218, 190, 255);
    font-size: 30px;
  }
    
.nowPlaying {
    flex: 1;
    font-size: 2em;
    background-color: #2385E8;
    color: white;
    text-decoration: none;
    transform: skewX(-20deg);
  }

.homeText {
  color: rgb(218, 190, 255);
  font-size: 3em;
  margin-top: 0;
  margin-bottom: 0;
  padding: 15px 50px 15px 50px;
  text-align: center;
}

.homeText h2 {
  font-size: 45px;
}

.searchResults {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 40px;
  justify-items: center;
  padding: 1%;
}

.imgStyle {
  height: auto;
  max-width: 550px;
}

.searchImgStyle {
  height: auto;
  max-width: '100px';
}

.upcoming {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  justify-items: center;
  padding: 1%;
}
  
  /* Hover Styles */
  .home:hover {
    background: orange;
  }

  .search:hover {
    background: orange;
  }

  .nowPlaying:hover {
    background: orange;
  }

  @media only screen and (max-width: 1900px){
    .upcoming {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media only screen and (max-width: 1400px){
    .searchResults {
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px;
    }
  }

  @media only screen and (max-width: 1250px){
    .upcoming {
      grid-template-columns: 1fr;
    }

    .imgStyle {
      height: auto;
      max-width: 450px;
    }

  }

  @media only screen and (max-width: 1050px){
    .searchResults {
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
    }
  }

  @media only screen and (max-width: 750px){
  
    .navbar {
      flex-direction: column;
      margin-top: 75px;
      align-items: normal;
    }

    .homeText {
      font-size: 1.65em;
      margin-top: 80px; 
      text-align: 'left';
      padding: 0 0 0 0;
    }

    .homeText h2 {
      /* margin-left: 0px;
      margin-right: 0px; */
      font-size: 22px;
      /* margin-left: 20px;
      max-width: 500px; */
    }

    footer {
      font-size: 17px;
    }

    .instructions {
      padding-left: 10%;
      padding-right: 10%;
      font-size: 20px;
      padding-top: 40px;
    }

    .searchResults {
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
      padding: 1%;
    }

    .imgStyle {
      height: auto;
      max-width: 250px;
    }
  }