html {
    background-color: lightblue
}

h1 {
    color: orange;
    font-family: Georgia;
}

body {
    font-family: 'Courier New', monospace;
}

#caps {
    text-transform: uppercase;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}

li {
    color: purple;
    font-weight: 600
}